<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel="shortcut icon" href="/images/logo.png">
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="row" id="header" name="header">
		<div class="col-md-2"></div>
		<div class="col-md-2" style="margin: 10px;">
			<img src="/images/logo.png" width="40px" height="40px" />
		</div>
	</div>

	<div class="row"
		style="margin-left: auto; margin-right: auto; width: 900px; overflow: hidden; margin-top: 30px; margin-left: 30px; box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.15);">
		<div class="col-md-12">
			<h3>
				<%= error_message %><small></small>
			</h3>
		</div>
	</div>
</body>
</html>